# Dependências
node_modules/

# Build
dist/

# Variáveis de ambiente
.env
.env.local
.env.development
!.env.production
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
